<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>yrkehf@tznvy.pbz</string>
	<key>contactName</key>
	<string>Lex</string>
	<key>description</key>
	<string>New shiny bundle for Jekyll-Bootstrap.</string>
	<key>name</key>
	<string>Jekyll-Bootstrap</string>
	<key>uuid</key>
	<string>E5DE4DB1-1F57-48E1-BB30-8960CFBC1345</string>
</dict>
</plist>
